{% extends "base.html" %}
{% block content %}
<article class="sub-article">
	<h2><a href="/index.html" class="title-link">Top of the Day</a></h2>
	<hr>
	<div class="vote">
		<h3><a href="/vote.html?v=1" class="title-link">Vote about this example topic!</a></h3>
		<hr>
		<div>
			<span>255 / 512</span>
			<form action="/vote.html?v=1" method="post">
				<input type="hidden" value="Yes" name="vote">
				<input type="submit" value="Yes" class="vote-button vote-yes">
			</form>
			<form action="/vote.html?v=1" method="post">
				<input type="hidden" value="No" name="vote">
				<input type="submit" value="No" class="vote-button vote-no">
			</form>
		</div>
	</div>
	<div class="vote">
		<h3><a href="/vote.html?v=2" class="title-link">Vote about this example topic!</a></h3>
		<hr>
		<div>
			<span>255 / 512</span>
			<form action="/vote.html?v=2" method="post">
				<input type="hidden" value="Yes" name="vote">
				<input type="submit" value="Yes" class="vote-button vote-yes">
			</form>
			<form action="/vote.html?v=2" method="post">
				<input type="hidden" value="No" name="vote">
				<input type="submit" value="No" class="vote-button vote-no">
			</form>
		</div>
	</div><div class="vote">
		<h3><a href="/vote.html?v=3" class="title-link">Vote about this example topic!</a></h3>
		<hr>
		<div>
			<span>255 / 512</span>
			<form action="/vote.html?v=3" method="post">
				<input type="hidden" value="Yes" name="vote">
				<input type="submit" value="Yes" class="vote-button vote-yes">
			</form>
			<form action="/vote.html?v=3" method="post">
				<input type="hidden" value="No" name="vote">
				<input type="submit" value="No" class="vote-button vote-no">
			</form>
		</div>
	</div>
</article>

<article class="sub-article">
	<h2><a href="index.html" class="title-link">Recently Added</a></h2>
	<hr>
	<div class="vote">
		<h3><a href="index.html" class="title-link">Vote about this example topic!</a></h3>
		<hr>
		<div>
			<span>255 / 512</span>
			<form action="/index.html?v=1" method="post">
				<input type="hidden" value="Yes" name="vote">
				<input type="submit" value="Yes" class="vote-button vote-yes">
			</form>
			<form action="/index.html?v=1" method="post">
				<input type="hidden" value="No" name="vote">
				<input type="submit" value="No" class="vote-button vote-no">
			</form>
		</div>
	</div>
	<div class="vote">
		<h3><a href="index.html" class="title-link">Vote about this example topic!</a></h3>
		<hr>
		<div>
			<span>255 / 512</span>
			<form action="/index.html?v=1" method="post">
				<input type="hidden" value="Yes" name="vote">
				<input type="submit" value="Yes" class="vote-button vote-yes">
			</form>
			<form action="/index.html?v=1" method="post">
				<input type="hidden" value="No" name="vote">
				<input type="submit" value="No" class="vote-button vote-no">
			</form>
		</div>
	</div><div class="vote">
		<h3><a href="index.html" class="title-link">Vote about this example topic!</a></h3>
		<hr>
		<div>
			<span>255 / 512</span>
			<form action="/index.html?v=1" method="post">
				<input type="hidden" value="Yes" name="vote">
				<input type="submit" value="Yes" class="vote-button vote-yes">
			</form>
			<form action="/index.html?v=1" method="post">
				<input type="hidden" value="No" name="vote">
				<input type="submit" value="No" class="vote-button vote-no">
			</form>
		</div>
	</div>
</article>

<article class="sub-article">
	<h2><a href="index.html" class="title-link">Not participated jet</a></h2>
	<hr>
	<div class="vote">
		<h3><a href="index.html" class="title-link">Vote about this example topic!</a></h3>
		<hr>
		<div>
			<span>255 / 512</span>
			<form action="/index.html?v=1" method="post">
				<input type="hidden" value="Yes" name="vote">
				<input type="submit" value="Yes" class="vote-button vote-yes">
			</form>
			<form action="/index.html?v=1" method="post">
				<input type="hidden" value="No" name="vote">
				<input type="submit" value="No" class="vote-button vote-no">
			</form>
		</div>
	</div>
	<div class="vote">
		<h3><a href="index.html" class="title-link">Vote about this example topic!</a></h3>
		<hr>
		<div>
			<span>255 / 512</span>
			<form action="/index.html?v=1" method="post">
				<input type="hidden" value="Yes" name="vote">
				<input type="submit" value="Yes" class="vote-button vote-yes">
			</form>
			<form action="/index.html?v=1" method="post">
				<input type="hidden" value="No" name="vote">
				<input type="submit" value="No" class="vote-button vote-no">
			</form>
		</div>
	</div>
	<div class="vote">
		<h3><a href="index.html" class="title-link">Vote about this example topic!</a></h3>
		<hr>
		<div>
			<span>255 / 512</span>
			<form action="/index.html?v=1" method="post">
				<input type="hidden" value="Yes" name="vote">
				<input type="submit" value="Yes" class="vote-button vote-yes">
			</form>
			<form action="/index.html?v=1" method="post">
				<input type="hidden" value="No" name="vote">
				<input type="submit" value="No" class="vote-button vote-no">
			</form>
		</div>
	</div>
</article>
{% endblock %}
